
/* Navbar */

.navbar-toggler-icon {
    margin-left: 20px;
    margin-right: 20px;
}

li{
    margin-left: 20px;
    margin-right: 20px;
}

.active {
    font-weight: bold;
}


/* Galerie Übersicht */

a, a:hover {
    color: black;
}

 /* @media (max-width: 800px) {
    h2 {
        display: none ;
    } */

.image h2 {
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 10em;
    z-index: 2;
    font-size: 2em;
}

.image img {
    position: relative;
    opacity: 70%;  
    z-index: 1;
    border-radius: 10px;
    margin: 5px;
}

.zoom {
    transition: transform .3s; /* Animation */
    margin: 0 auto;
  }
  
.zoom:hover {
    transform: scale(1.01); /* (101% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

/* Zurück Button */

button {
    background-color: lightgrey;
    margin-left: 30px;
    border-radius: 10%;
    text-align: center;
}

/* Galerie Ansicht */

.galery img {
    margin: 10px;
}

/* Responsive Handy */

